body {
  margin: 0;
  font-family: "Montserrat",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navStyle{
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.active{
  font-weight: 700;
}
canvas{
  height: 200px !important;
  /* width: 200px !important; */
}